* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  overflow-x: hidden;
}

strong {
  color: var(--color-text-faint);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
