* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kufam", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0CC0DF;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar{
    color: #FF7074 ;
    background-color: #FED8DF;
}

header {
    background-color: white;
    color: #FF7074;
    height: fit-content;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0px 0px 30px 30px;
}

header nav ul {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 15px;
    background-color: white;
    font-size: 1.1em;
    list-style: none;
}

a {
    text-decoration: none;
    color: #0CC0DF;
    transition: all 0.25s ease-in-out;
    font-size: 1.2em;
}

section .contact-link {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    text-transform: uppercase;
    display: inline-block;
}

a:hover {
    color: #f8bf04;
    text-decoration: underline;
}

main section {
    color: #f8bf04;
    background-color: #0CC0DF;
    text-align: center;
    padding: 0 15px;
}

main section h1 {
    font-size: clamp(1.75rem, 8vw, 4em);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 12px;
    overflow: hidden;
}

section ul {
    background-color: rgb(255, 254, 169);
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 98%;
    border-radius: 2px;
    padding: 10px 0;
}

section ul li {
    background-color: #f1f0f0e8;
    border-radius: 40px;
    margin: 20px 0;
    list-style: none;
    min-width: 140px;
    max-width: 220px;
}

section ul li h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.3em;
    width: 100%;
    padding: 0 10px;
}

section ul li h2 {
    margin: 20px;
    padding: 20px;
    font-size: 1.5em;
}

strong {
    color: rgb(100, 100, 100);
}

footer {
    text-align: center;
    padding: 40px 15px;
    background-color: #0CC0DF;
    color: #065968;
}

@media (min-width: 768px) {
    header nav ul {
        gap: 3rem;
        font-size: 1.5em;
    }

    section ul li h3 {
        width: 300px;
    }
}
